/* @import "~materialize-css/dist/css/materialize.min.css"; */
/* 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.popup_common-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_common {
  font-size: .8em;
  background-color: rgba(0, 139, 139, 0.8);
  color: white;
  font-family: "Roboto";
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  position: relative;
}


.anim-show {
  opacity: 0;
  transition: .2s;
  animation: show .2s 1;
  animation-fill-mode: forwards;
}

.anim-remove {
  opacity: 1;
  transition: .2s;
  animation: remove .2s 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */